<form #f="ngForm" (ngSubmit)="addsit(f)" novalidate>
  <div>
 <div class="row">
     <div class="col-md-offset-2 col-md-8">
    <h1> <small> Ajout d'un SIT</small></h1> 
     </div>
     </div>
     
     <div class="row">
     <div class="col-md-offset-2 col-md-3">
     <div class="form-group">
     <label for="nomC">Nom Client</label>
     <select class="col-md-offset-2 col-md-7" name="nomC" ngModel> <option  *ngFor= " let clients of clients"  >{{clients.nomC}}</option> </select>
      
     </div>
     </div>
     </div>
     <div class="col-md-offset-1 col-md-3">
     <div class="form-group">
     <label for="nomResponsableSit">Nom Responsable SIT</label>
     <input type="text" class="form-control"    placeholder="Nom Responsable SIT" name="nomResponsableSit" ngModel>
     </div>
     </div>
   
     
     <div class="row">
     <div class="col-md-offset-2 col-md-7">
     <div class="form-group">
     <label for="num">Num Responsable SIT</label>

     <input type="text" class="form-control"  placeholder="Num Responsable SIT" name="numResponsableSit" ngModel>
     </div>
     </div>
     </div>
     <div class="row">
         <div class="col-md-offset-2 col-md-7">
         <div class="form-group">
         <label for="technologie">Technologie</label>
         <input type="text" class="form-control"   name="technologie" placeholder="Enter la technologie"  ngModel>
         </div>
         </div>
         </div>
         <div class="row">
          <div class="col-md-offset-2 col-md-7">
          <div class="form-group">
          <label for="longitude">longitude</label>
          <input type="text" class="form-control"   name="longitude" placeholder="Enter la technologie"  ngModel>
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-offset-2 col-md-7">
            <div class="form-group">
            <label for="latitude">latitude</label>
            <input type="text" class="form-control"   name="latitude" placeholder="Enter la technologie"  ngModel>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-7">
                <div class="form-group">
                <label for="Chassis">Chassis</label>
                <input type="text" class="form-control"   name="Chassis" placeholder="Enter la technologie"  ngModel>
                </div>
                </div>
                </div>
     

             <br/>
     <div class="row">
     <div class="col-md-offset-5 col-md-1">
     <button type="submit"    class="btn btn-primary">Envoyer les informations</button>
     </div>
     </div>
     </div>
 </form>