<div class="card p-2 mb-5">

  <!--Grid row-->
  <div class="row">

      <!--Grid column-->
      <div class="col-lg-3 col-md-12">
        
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6">

          <!--Blue select-->
         
          <!--/Blue select-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6">

          <!--Blue select-->
          
          <!--/Blue select-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6">

          <form class="form-inline mt-2 ml-2">
              <input class="form-control my-0 py-0" type="text" placeholder="Search" style="max-width: 150px;" #box>
              <button class="btn btn-sm btn-primary ml-2 px-1"><i class="fa fa-search"></i>  </button>
          </form>

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

</div>
<!--Top Table UI-->

<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

      <div>
         
      </div>

      <a href="" class="white-text mx-3">Table des Clients</a>

      <div>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2 btn-primary" routerLink="/component/Addclient"><i class="fa fa-pencil mt-0"></i></button>
          
      </div>

  </div>
  <!--/Card image-->

  <div class="px-4">

      <div class="table-wrapper">
          <!--Table-->
          <table class="table table-hover mb-0">

              <!--Table head-->
              <thead>
                  <tr class="table-primary">
                      <th>
                      </th>
                      <th class="th-lg">Nom Client<i class=" ml-1"></i></th>
                      <th class="th-lg">Payement<i class=" ml-1"></i></th>
                      <th class="th-lg">Adresse<i class=" ml-1"></i></th>
                      <th class="th-lg">Action<i class=" ml-1"></i></th>
                  

                    </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              
              
                  <tbody  *ngFor= " let clients of clients" >
                      <tr>
                          <th scope="row">
                              <input type="checkbox"  (click)="updateclients(clients._id)"  routerLink="/component/updateclients" [checked]="clients.checked" id="checkbox1">
                              <label for="checkbox1" class="label-table"></label>
                          </th>
                    <th scope="row">
                        {{clients.nomC}}</th> 
                    <th>{{clients.Type_payement}}</th>
                    <th>{{clients.Adresse}}</th>
                   
                    <th>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2 btn-danger" (click)="deleteclients(clients._id)"><i class="fa fa-remove mt-0"></i></button>
                            <button type="button" routerLink="/component/updateclients"  class="btn btn-outline-white btn-rounded btn-sm px-2 btn-success"   ><i class="fa fa-wrench mt-0"></i></button>
                    </th>
                   
                      </tr>
              </tbody>
                 
              <!--Table body-->
          </table>
          <!--Table-->
      </div>

      <hr class="my-0">

      <!--Bottom Table UI-->
      <div class="d-flex justify-content-between">

          <!--Name-->
         

          <!--Pagination -->
          <nav class="my-4">
              <ul class="pagination pagination-circle pg-blue mb-0">

               
                 

             

              </ul>
          </nav>
          <!--/Pagination -->

      </div>
      <!--Bottom Table UI-->

  </div>
</div>


